<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="robots" content="noindex">
<meta name="description" content="おすすめメニューをみんなでシェア！飲食店メニューの口コミサイト">
<meta name="keywords" content="目玉グルメナビ,飲食店,メニュー,商品,口コミ,評価,レビュー,評判">
<link rel="shortcut icon" href="assets/images/favicon.ico">
<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="目玉ナビ" />
<link rel="index" href="http://www.★★★★★★★★★★★★★★★.jp/" />
<!-- OGP -->
<meta property="og:title" content="目玉グルメナビ" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.★★★★★★★★★★★★★★★.jp/" />
<meta property="og:image" content="http://www.★★★★★★★★★★★★★★★.jp/img/ogp_logo.jpg" />
<meta property="og:site_name"  content="目玉グルメナビ" />
<meta property="og:description" content="おすすめメニューをみんなでシェア！飲食店メニューの口コミサイト" />
<meta name="twitter:card" content="summary_large_image" />
<!-- common -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/common.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/common.js"></script>
<!-- slick -->
<link rel="stylesheet" href="/css/slick.css">
<script src="/js/slick.min.js"></script>
<script>　
$(document).ready(function(){
 　$('#mainvisual').slick({
 　　autoplay: true,
 　　adaptiveHeight: true,
 　　arrows: true,
 　　prevArrow:'<div class="prev">PREV</div>',
 　　nextArrow:'<div class="next">NEXT</div>'
 　});
	$('.review').slick({
 　　autoplay: true,
 　　adaptiveHeight: true,
 　　arrows: false,
		fade:true
 　});
 });
</script>
<title>目玉グルメナビ</title>
</head>
	
<body>

<div id="wrapper">
	
<header>
	<div class="inner">
		<h1><img src="/assets/images/logo.png" alt="目玉グルメナビ"/></h1>
		<div id="header_search_wrap">
			<div class="search_box">
				<h4>店舗を検索</h4>
				<div class="select_btn">
					<select name="select" onChange="location.href=value;">
						<option value="#">ジャンルで検索</option>
						<option value="restaurant_list.html">ジャンル名</option>
						<option value="restaurant_list.html">ジャンル名</option>
						<option value="restaurant_list.html">ジャンル名</option>
						<option value="restaurant_list.html">ジャンル名</option>
						<option value="restaurant_list.html">ジャンル名</option>
					</select>
				</div>
				<div class="select_btn">
					<select name="select" onChange="location.href=value;">
						<option value="#">地域で検索</option>
						<option value="restaurant_list.html">地域名</option>
						<option value="restaurant_list.html">地域名</option>
						<option value="restaurant_list.html">地域名</option>
						<option value="restaurant_list.html">地域名</option>
						<option value="restaurant_list.html">地域名</option>
					</select>
				</div>
			</div><!-- /search_box -->
			<div class="search_box">
				<h4>グルメを検索</h4>
				<div class="select_btn">
					<select name="select" onChange="location.href=value;">
						<option value="#">ジャンルで検索</option>
						<option value="gourmet_list.html">ジャンル名</option>
						<option value="gourmet_list.html">ジャンル名</option>
						<option value="gourmet_list.html">ジャンル名</option>
						<option value="gourmet_list.html">ジャンル名</option>
						<option value="gourmet_list.html">ジャンル名</option>
					</select>
				</div>
				<div class="select_btn">
					<select name="select" onChange="location.href=value;">
						<option value="#">地域で検索</option>
						<option value="gourmet_list.html">地域名</option>
						<option value="gourmet_list.html">地域名</option>
						<option value="gourmet_list.html">地域名</option>
						<option value="gourmet_list.html">地域名</option>
						<option value="gourmet_list.html">地域名</option>
					</select>
				</div>
			</div><!-- /search_box -->
		</div><!-- /header_search_wrap -->
		<div id="header_usernav_wrap">
			<div id="header_usernav_nologin">
				<a href="login.html" class="btn_s login">ログイン</a>
				<a href="signup.html" class="btn_s signup">新規登録</a>
			</div>
			<!--　ログイン中の場合こちらを表示
			<div id="header_usernav_login">
				<div id="header_usernav_username">お名前さま</div>
				<a href="★★★★★★★★★★★★★★★.html" class="btn_s logout">ログアウト</a>
			</div>
			-->
		</div><!-- /header_usernav_wrap -->
	</div>
</header>

<div id="mainvisual">
	<div>
		<p>気になるお店の目玉メニューがわかる！</p>
		<img src="/assets/images/mainvisual01.jpg" alt=""/>
	</div>
	<div>
		<p>みんなで作り上げる商品レビューサイト！</p>
		<img src="/assets/images/mainvisual02.jpg" alt=""/>
	</div>
</div><!-- /mainvisual -->
	
<main>
	<div class="inner">
	
		<div id="howto">
			<h2>目玉グルメナビの使い方</h2>
			<ul class="howto_list">
				<li>
					<div class="howto_img"><img src="/assets/images/howto01.png" alt=""/></div>
					<div class="howto_text">
						<h3>おすすめグルメを投稿！</h3>
						<p>もうちょっと詳しく説明もうちょっと詳しく説明もうちょっと詳しく説明もうちょっと詳しく説明もうちょっと詳しく説明</p>
						<div class="search_box">
							<h4>店舗を検索</h4>
							<div class="select_btn">
								<select name="select" onChange="location.href=value;">
									<option value="#">ジャンルで検索</option>
									<option value="restaurant_list.html">ジャンル名</option>
									<option value="restaurant_list.html">ジャンル名</option>
									<option value="restaurant_list.html">ジャンル名</option>
									<option value="restaurant_list.html">ジャンル名</option>
									<option value="restaurant_list.html">ジャンル名</option>
								</select>
							</div>
							<div class="select_btn">
								<select name="select" onChange="location.href=value;">
									<option value="#">地域で検索</option>
									<option value="restaurant_list.html">地域名</option>
									<option value="restaurant_list.html">地域名</option>
									<option value="restaurant_list.html">地域名</option>
									<option value="restaurant_list.html">地域名</option>
									<option value="restaurant_list.html">地域名</option>
								</select>
							</div>
						</div><!-- /search_box -->
					</div>
				</li>
				<li>
					<div class="howto_img"><img src="/assets/images/howto02.png" alt=""/></div>
					<div class="howto_text">
						<h3>みんなのグルメをチェック！</h3>
						<p>もうちょっと詳しく説明もうちょっと詳しく説明もうちょっと詳しく説明もうちょっと詳しく説明もうちょっと詳しく説明</p>
						<div class="search_box">
							<h4>グルメを検索</h4>
							<div class="select_btn">
								<select name="select" onChange="location.href=value;">
									<option value="#">ジャンルで検索</option>
									<option value="gourmet_list.html">ジャンル名</option>
									<option value="gourmet_list.html">ジャンル名</option>
									<option value="gourmet_list.html">ジャンル名</option>
									<option value="gourmet_list.html">ジャンル名</option>
									<option value="gourmet_list.html">ジャンル名</option>
								</select>
							</div>
							<div class="select_btn">
								<select name="select" onChange="location.href=value;">
									<option value="#">地域で検索</option>
									<option value="gourmet_list.html">地域名</option>
									<option value="gourmet_list.html">地域名</option>
									<option value="gourmet_list.html">地域名</option>
									<option value="gourmet_list.html">地域名</option>
									<option value="gourmet_list.html">地域名</option>
								</select>
							</div>
						</div><!-- /search_box -->
					</div>
				</li>
			</ul>
		</div><!-- /howto -->

		<div id="pickup_gourmet">
			<h2>注目の目玉グルメ</h2>
			<ul class="gourmet_list">
				<li>
					<a href="/00000001/gourmet.html">
						<div class="gourmet_img"><img src="/assets/images/gourmet_sample.jpg" alt=""/></div>
						<div class="gourmet_text">
							<div class="restaurant">店名店名店名店名店名</div>
							<div class="area">〇〇県〇〇〇〇市</div>
							<div class="gourmet_name">商品名商品名商品名商品名商品名</div>
							<ul class="review">
								<li>
									<div class="rating" data-rate="4"></div>
									<p>うまみの宝石箱や〜！！レビュー1件づつ順番に出す〜〜〜</p>
								</li>
								<li>
									<div class="rating" data-rate="2.5"></div>
									<p>二人目のレビュアーや〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="5"></div>
									<p>三人目のレビュアーや〜〜〜〜！！</p>
								</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="/00000001/gourmet.html">
						<div class="gourmet_img"><img src="/assets/images/gourmet_sample.jpg" alt=""/></div>
						<div class="gourmet_text">
							<div class="restaurant">店名店名店名店名店名</div>
							<div class="area">〇〇県〇〇〇〇市</div>
							<div class="gourmet_name">商品名商品名商品名商品名商品名</div>
							<ul class="review">
								<li>
									<div class="rating" data-rate="4"></div>
									<p>うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="2.5"></div>
									<p>二人目のレビュアーや〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="5"></div>
									<p>三人目のレビュアーや〜〜〜〜！！</p>
								</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="/00000001/gourmet.html">
						<div class="gourmet_img"><img src="/assets/images/gourmet_sample.jpg" alt=""/></div>
						<div class="gourmet_text">
							<div class="restaurant">店名店名店名店名店名</div>
							<div class="area">〇〇県〇〇〇〇市</div>
							<div class="gourmet_name">商品名商品名商品名商品名商品名</div>
							<ul class="review">
								<li>
									<div class="rating" data-rate="4"></div>
									<p>うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="2.5"></div>
									<p>二人目のレビュアーや〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="5"></div>
									<p>三人目のレビュアーや〜〜〜〜！！</p>
								</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="/00000001/gourmet.html">
						<div class="gourmet_img"><img src="/assets/images/gourmet_sample.jpg" alt=""/></div>
						<div class="gourmet_text">
							<div class="restaurant">店名店名店名店名店名</div>
							<div class="area">〇〇県〇〇〇〇市</div>
							<div class="gourmet_name">商品名商品名商品名商品名商品名</div>
							<ul class="review">
								<li>
									<div class="rating" data-rate="4"></div>
									<p>うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="2.5"></div>
									<p>二人目のレビュアーや〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="5"></div>
									<p>三人目のレビュアーや〜〜〜〜！！</p>
								</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="/00000001/gourmet.html">
						<div class="gourmet_img"><img src="/assets/images/gourmet_sample.jpg" alt=""/></div>
						<div class="gourmet_text">
							<div class="restaurant">店名店名店名店名店名</div>
							<div class="area">〇〇県〇〇〇〇市</div>
							<div class="gourmet_name">商品名商品名商品名商品名商品名</div>
							<ul class="review">
								<li>
									<div class="rating" data-rate="4"></div>
									<p>うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="2.5"></div>
									<p>二人目のレビュアーや〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="5"></div>
									<p>三人目のレビュアーや〜〜〜〜！！</p>
								</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="/00000001/gourmet.html">
						<div class="gourmet_img"><img src="/assets/images/gourmet_sample.jpg" alt=""/></div>
						<div class="gourmet_text">
							<div class="restaurant">店名店名店名店名店名</div>
							<div class="area">〇〇県〇〇〇〇市</div>
							<div class="gourmet_name">商品名商品名商品名商品名商品名</div>
							<ul class="review">
								<li>
									<div class="rating" data-rate="4"></div>
									<p>うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！うまみの宝石箱や〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="2.5"></div>
									<p>二人目のレビュアーや〜！！</p>
								</li>
								<li>
									<div class="rating" data-rate="5"></div>
									<p>三人目のレビュアーや〜〜〜〜！！</p>
								</li>
							</ul>
						</div>
					</a>
				</li>
			</ul>
		</div><!-- /pickup_gourmet -->

	</div>
</main>


<footer>
	<p id="copyright">Copyright&copy; SUZUKI TAKEHIKO All Rights Reserved.</p>
</footer>

</div><!-- /wrapper -->

</body>
</html>
