.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 150px;
  height: 120px;
}