.confirm-contents {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;

}

.success  {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding:40px;
  height: calc(100vh - 400px);
 
}

.complete-btn {
  font-size: 18px;
  font-weight: bold;
  margin: 50px;
  color: white;
  background-color:#ffc300;
  padding:20px;
}