@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  min-height: 0;
  min-width: 0;
}

html {
  height: 100%;
  line-height: 1.5;
}

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
  font-size: 16px;
  background-color: #fff;
  word-wrap: break-word;
}

a, button {
  text-decoration: none;
  color: #0000ff;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  outline: none;
}
a:hover, button:hover {
  color: #ff3300;
}

img {
  vertical-align: top;
  max-width: 100%;
}

input[type="text"]:focus {
  outline: 0;
}

.inner {
  max-width: 1200px;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
}

.btn_s {
  display: inline-block;
  background-color: #451c07;
  color: #fff;
  padding: 12px 30px;
  line-height: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.btn_s:hover {
  background-color: #6d3f27;
  color: #fff;
}

.btn_wrap {
  text-align: center;
}
.btn_wrap .btn, .btn_wrap .btn_s {
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  display: inline-block;
  background-color: #451c07;
  color: #fff;
  padding: 20px 60px;
  line-height: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
.btn:hover {
  color: #fff;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.btn.yellow {
  background-color: #ffc300;
  color: #451c07;
}

.select_btn {
  display: inline-block;
  position: relative;
  margin-right: 4px;
}
.select_btn:last-child {
  margin-right: 0;
}
.select_btn::after {
  content: "▼";
  display: block;
  position: absolute;
  top: 50%;
  right: 16px;
  color: #451c07;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 12px;
  pointer-events: none;
}
.select_btn select {
  padding: 12px 42px 12px 26px;
  font-size: 16px;
  font-weight: bold;
  color: #451c07;
  cursor: pointer;
  border: 2px #ffc300 solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.select_btn select::-ms-expand {
  display: none;
}
.select_btn select:hover {
  background-color: #ffc300;
}

.rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #f0ecde;
  /* 星5 */
  /* 星4.5 */
  /* 星4 */
  /* 星3.5 */
  /* 星3 */
  /* 星2.5 */
  /* 星2 */
  /* 星1.5 */
  /* 星1 */
  /* 星0.5 */
  /* 星0 */
}
.rating::before, .rating::after {
  content: '★★★★★';
}
.rating::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffc300;
}
.rating[data-rate="5"]:after {
  width: 100%;
}
.rating[data-rate="4.5"]:after {
  width: 90%;
}
.rating[data-rate="4"]:after {
  width: 80%;
}
.rating[data-rate="3.5"]:after {
  width: 70%;
}
.rating[data-rate="3"]:after {
  width: 60%;
}
.rating[data-rate="2.5"]:after {
  width: 50%;
}
.rating[data-rate="2"]:after {
  width: 40%;
}
.rating[data-rate="1.5"]:after {
  width: 30%;
}
.rating[data-rate="1"]:after {
  width: 20%;
}
.rating[data-rate="0.5"]:after {
  width: 10%;
}
.rating[data-rate="0"]:after {
  width: 0%;
}

#wrapper {
  width: 100%;
  background-color: #fff;
}

header {
  width: 100%;
  height: 182px;
  margin-bottom: 20px;
}
header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding-top: 16px;
}
header h1 {
  margin-right: 50px;
  margin-left: 40px;
}
header h1 a {
  display: block;
}
header h1 a:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
header h1 img {
  width: 200px;
}
header #header_search_wrap {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 24px;
}
header #header_search_wrap .search_box:first-child {
  margin-right: 40px;
}
header #header_search_wrap .search_box h4 {
  font-weight: bold;
  color: #451c07;
  margin-left: 10px;
  margin-bottom: 2px;
}
header #header_usernav_wrap {
  position: absolute;
  top: 0;
  right: 0;
}
header #header_usernav_wrap .btn_s {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
  margin-left: 4px;
}
header #header_usernav_wrap #header_usernav_login #header_usernav_username {
  display: inline-block;
}

main {
  min-height: calc(100vh - 462px);
}

#mainvisual {
  margin-bottom: 60px;
  position: relative;
}
#mainvisual li img {
  width: 100%;
}
#mainvisual .slick-arrow {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1;
}
#mainvisual .slick-arrow.next {
  right: 0;
}

#howto {
  margin-bottom: 120px;
}
#howto h2 {
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
}
#howto .howto_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#howto .howto_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  flex: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f0ecde;
  padding: 40px 20px;
}
#howto .howto_list li:nth-child(2n-1) {
  margin-right: 40px;
}
#howto .howto_list li .howto_img {
  width: 150px;
  margin-right: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
#howto .howto_list li .howto_text {
  -webkit-flex: 1;
  flex: 1;
}
#howto .howto_list li .howto_text h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #451c07;
  font-weight: bold;
}
#howto .howto_list li .howto_text .search_box {
  margin-top: 20px;
}
#howto .howto_list li .howto_text .search_box h4 {
  font-weight: bold;
  color: #451c07;
  margin-left: 10px;
}
#howto .howto_list li .howto_text .search_box select {
  padding: 12px 32px 12px 16px;
}

#pickup_gourmet h2 {
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
}

.contents h2 {
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
  color: #451c07;
  font-weight: bold;
}
.contents .gourmet_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
}
.contents .gourmet_list > li {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.contents .gourmet_list > li:nth-child(3n) {
  margin-right: 0;
}
.contents .gourmet_list > li a {
  color: #333333;
  display: block;
}
.contents .gourmet_list > li a .gourmet_img {
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 60%;
}
.contents .gourmet_list > li a .gourmet_img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0px #ffc300 solid;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  opacity: 0;
}
.contents .gourmet_list > li a .gourmet_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-width: 100%;
}
.contents .gourmet_list > li a:hover .gourmet_img::after {
  border: 10px #ffc300 solid;
  opacity: 1;
}
.contents .gourmet_list > li a .gourmet_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
}
.contents .gourmet_list > li a .gourmet_text .restaurant {
  font-size: 12px;
  -webkit-flex: 1;
  flex: 1;
}
.contents .gourmet_list > li a .gourmet_text .area {
  font-size: 12px;
}
.contents .gourmet_list > li a .gourmet_text .gourmet_name {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  color: #451c07;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}
.contents .gourmet_list > li a .gourmet_text .review {
  background-color: #f0ecde;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0px 10px;
}
.contents .gourmet_list > li a .gourmet_text .review li {
  background: url("/img/ico_fukidashi.png") no-repeat left center;
  background-size: 20px auto;
  padding: 6px 6px 6px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.contents .gourmet_list > li a .gourmet_text .review li .rating {
  color: #fff;
  font-size: 14px;
  line-height: 1;
  margin-right: 6px;
}
.contents .gourmet_list > li a .gourmet_text .review li .review_text {
  -webkit-flex: 1;
  flex: 1;
}
.contents .gourmet_list > li a .gourmet_text .review li .review_text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.contents .gourmet_list.restaurant_gourmet_list > li a .gourmet_text {
  -webkit-align-items: center;
  align-items: center;
}
.contents .gourmet_list.restaurant_gourmet_list > li a .gourmet_text .gourmet_name {
  width: auto;
  -webkit-flex: 1;
  flex: 1;
  margin-right: 20px;
}
.contents .gourmet_list.restaurant_gourmet_list > li a .gourmet_text .price {
  margin-bottom: 10px;
  color: #ee4533;
  line-height: 1.3;
}
.contents .gourmet_list.restaurant_gourmet_list > li a .gourmet_text .price span {
  font-size: 20px;
}

.restaurant_wrap {
  padding-top: 20px;
}
.restaurant_wrap .restaurant_head {
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px 0 0;
  padding: 30px 40px 10px;
  border: 4px #ffc300 solid;
  border-bottom: none;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.restaurant_wrap .restaurant_head h2 {
  text-align: left;
  -webkit-flex: 1;
  flex: 1;
  margin-bottom: 0;
  color: #451c07;
}
.restaurant_wrap .restaurant_info {
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0;
  border-radius: 0 0 20px 20px;
  padding: 10px 40px 30px;
  border: 4px #ffc300 solid;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.restaurant_wrap .restaurant_info .data {
  -webkit-flex: 1;
  flex: 1;
  margin-right: 40px;
}
.restaurant_wrap .restaurant_info .data table tbody tr th {
  color: #451c07;
  font-weight: bold;
  font-size: 14px;
  padding-right: 20px;
}
.restaurant_wrap .restaurant_info .data table tbody tr th, .restaurant_wrap .restaurant_info .data table tbody tr td {
  border-bottom: 1px #e4e3e0 solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.restaurant_wrap .restaurant_info .data table tbody tr:last-child th, .restaurant_wrap .restaurant_info .data table tbody tr:last-child td {
  border-bottom: none;
}
.restaurant_wrap .gourmet_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.restaurant_wrap .gourmet_data .gourmet_data_img {
  width: 40%;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 40px;
}
.restaurant_wrap .gourmet_data .gourmet_data_img img {
  width: 100%;
}
.restaurant_wrap .gourmet_data .gourmet_data_text {
  -webkit-flex: 1;
  flex: 1;
}
.restaurant_wrap .gourmet_data .gourmet_data_text .rating {
  font-size: 24px;
  margin-bottom: 10px;
}
.restaurant_wrap .gourmet_data .gourmet_data_text .name {
  font-size: 26px;
  font-weight: bold;
  color: #451c07;
  margin-bottom: 10px;
}
.restaurant_wrap .gourmet_data .gourmet_data_text .price {
  color: #ee4533;
  margin-bottom: 20px;
}
.restaurant_wrap .gourmet_data .gourmet_data_text .price span {
  font-size: 20px;
}
.restaurant_wrap .gourmet_data .gourmet_data_review {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.restaurant_wrap .gourmet_data .gourmet_data_review h2 {
  font-size: 20px;
  border-bottom: 2px #ffc300 solid;
  text-align: left;
  padding: 5px;
  margin-bottom: 20px;
}
.restaurant_wrap .gourmet_data .gourmet_data_review .review_l {
  column-count: 3;
  column-gap: 0;
}
.restaurant_wrap .gourmet_data .gourmet_data_review .review_l li {
  background-color: #f0ecde;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 16px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-align-items: center;
  align-items: center;
}
.restaurant_wrap .gourmet_data .gourmet_data_review .review_l li .rating {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}
.restaurant_wrap .gourmet_data .gourmet_data_review .review_l li .user {
  font-size: 14px;
  color: #451c07;
  font-weight: bold;
  -webkit-flex: 1;
  flex: 1;
}
.restaurant_wrap .gourmet_data .gourmet_data_review .review_l li .review_text {
  width: 100%;
  margin-top: 4px;
}
.restaurant_wrap .btn_wrap {
  margin-bottom: 40px;
}

.restaurant_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  margin-bottom: 40px;
}
.restaurant_list li {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.restaurant_list li:nth-child(3n) {
  margin-right: 0;
}
.restaurant_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #333333;
  position: relative;
  padding: 20px;
}
.restaurant_list li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 4px #ffc300 solid;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity: 0;
}
.restaurant_list li a:hover::after {
  opacity: 1;
}
.restaurant_list li a .restaurant_img {
  width: 100px;
  height: 60px;
  margin-right: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.restaurant_list li a .restaurant_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-width: 100%;
}
.restaurant_list li a .restaurant_text {
  -webkit-flex: 1;
  flex: 1;
}
.restaurant_list li a .restaurant_text .restaurant {
  font-size: 20px;
  font-weight: bold;
  color: #451c07;
}

#pagetop {
  color: #451c07;
  font-weight: bold;
  background-image: url("/img/ico_pagetop.png");
  background-repeat: no-repeat;
  background-position: center 6px;
  background-size: 20px auto;
  width: 120px;
  position: fixed;
  right: 0;
  bottom: 46px;
  text-align: center;
  padding-top: 28px;
  font-size: 14px;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#pagetop:hover {
  background-position: center 0px;
}

footer {
  width: 100%;
  height: 140px;
  background-color: #cec6aa;
  color: #451c07;
  text-align: center;
  margin-top: 120px;
  font-size: 12px;
  padding-top: 60px;
}
